<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <style type="text/css">.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
      }   </style>
    <title>COVID-19</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark navbar-dark">
  <a class="navbar-brand" href="#"><img src="static/corona_label.png" width="30" height="30" class="d-inline-block align-top" alt="">  Covid-19 in India</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link " href="index">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="state-wise">State Wise</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="predictions">Predictions</a>
      </li>
    </ul>
  </div>
</nav>

<!--

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Select State</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          -Select-
        </a>
        <div class="dropdown-menu scrollable-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">-Select-</a>
          <a class="dropdown-item" href="#">Andaman and Nicobar Islands</a>
          <a class="dropdown-item" href="#">Andhra Pradesh</a>
          <a class="dropdown-item" href="#">Arunachal Pradesh</a>
          <a class="dropdown-item" href="#">Assam</a>
          <a class="dropdown-item" href="#">Bihar</a>
          <a class="dropdown-item" href="#">Chandigarh</a>
          <a class="dropdown-item" href="#">Chhattisgarh</a>
          <a class="dropdown-item" href="#">Dadar Nagar Haveli</a>
          <a class="dropdown-item" href="#">Delhi</a>
          <a class="dropdown-item" href="#">Goa</a>
          <a class="dropdown-item" href="#">Gujarat</a>
          <a class="dropdown-item" href="#">Haryana</a>
          <a class="dropdown-item" href="#">Himachal Pradesh</a>
          <a class="dropdown-item" href="#">Jammu and Kashmir</a>
          <a class="dropdown-item" href="#">Jharkhand</a>
          <a class="dropdown-item" href="#">Karnataka</a>
          <a class="dropdown-item" href="#">Kerala</a>
          <a class="dropdown-item" href="#">Ladakh</a>
          <a class="dropdown-item" href="#">Madhya Pradesh</a>
          <a class="dropdown-item" href="#">Maharashtra</a>
          <a class="dropdown-item" href="#">Manipur</a>
          <a class="dropdown-item" href="#">Meghalaya</a>
          <a class="dropdown-item" href="#">Mizoram</a>
          <a class="dropdown-item" href="#">Odisha</a>
          <a class="dropdown-item" href="#">Puducherry</a>
          <a class="dropdown-item" href="#">Punjab</a>
          <a class="dropdown-item" href="#">Rajasthan</a>
          <a class="dropdown-item" href="#">Tamil Nadu</a>
          <a class="dropdown-item" href="#">Telengana</a>
          <a class="dropdown-item" href="#">Tripura</a>
          <a class="dropdown-item" href="#">Uttarakhand</a>
          <a class="dropdown-item" href="#">Uttar Pradesh </a>
          <a class="dropdown-item" href="#">West Bengal</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<form method="POST">
  <select class="custom-select">
    <option selected>Select State</option>
    <option value="1">Andaman and Nicobar Islands</option>
    <option value="2">Andhra Pradesh</option>
    <option value="3">Arunachal Pradesh</option>
    <option value="4">Assam</option>
    <option value="5">Bihar</option>
    <option value="6">Chandigarh</option>
    <option value="7">Chhattisgarh</option>
    <option value="8">Dadar Nagar Haveli</option>
    <option value="9">Delhi</option>
    <option value="10">Goa</option>
    <option value="11">Gujarat</option>
    <option value="12">Haryana</option>
    <option value="13">Himachal Pradesh</option>
    <option value="14">Jammu and Kashmir</option>
    <option value="15">Jharkhand</option>
    <option value="16">Karnataka</option>
    <option value="17">Kerala</option>
    <option value="18">Ladakh</option>
    <option value="19">Madhya Pradesh</option>
    <option value="20">Maharashtra</option>
    <option value="21">Manipur</option>
    <option value="22">Meghalaya</option>
    <option value="23">Mizoram</option>
    <option value="24">Odisha</option>
    <option value="25">Puducherry</option>
    <option value="26">Punjab</option>
    <option value="27">Rajasthan</option>
    <option value="28">Tamil Nadu</option>
    <option value="29">Telengana</option>
    <option value="30">Tripura</option>
    <option value="31">Uttarakhand</option>
    <option value="32">Uttar Pradesh</option>
    <option value="32">West Bengal</option>
  </select>
</form>

-->
<form method="POST" action='#'>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Select State</label>
    <select class="form-control" id="exampleFormControlSelect1" name='state_name'>
    <option value="none">-Select-</option>
    <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
    <option value="Andhra Pradesh">Andhra Pradesh</option>
    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
    <option value="Assam">Assam</option>
    <option value="Bihar">Bihar</option>
    <option value="Chandigarh">Chandigarh</option>
    <option value="Chhattisgarh">Chhattisgarh</option>
    <option value="Dadar Nagar Haveli">Dadar Nagar Haveli</option>
    <option value="Delhi">Delhi</option>
    <option value="Goa">Goa</option>
    <option value="Gujarat">Gujarat</option>
    <option value="Haryana">Haryana</option>
    <option value="Himachal Pradesh">Himachal Pradesh</option>
    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
    <option value="Jharkhand">Jharkhand</option>
    <option value="Karnataka">Karnataka</option>
    <option value="Kerala">Kerala</option>
    <option value="18">Ladakh</option>
    <option value="19">Madhya Pradesh</option>
    <option value="20">Maharashtra</option>
    <option value="21">Manipur</option>
    <option value="22">Meghalaya</option>
    <option value="23">Mizoram</option>
    <option value="24">Odisha</option>
    <option value="25">Puducherry</option>
    <option value="26">Punjab</option>
    <option value="27">Rajasthan</option>
    <option value="28">Tamil Nadu</option>
    <option value="29">Telengana</option>
    <option value="30">Tripura</option>
    <option value="31">Uttarakhand</option>
    <option value="32">Uttar Pradesh</option>
    <option value="32">West Bengal</option>
    </select>
    <input class='btn btn-primary' type='submit' value="submit" />
  </div>
</form>

<!--
<form method="POST" action='#'>
  <input type="text" name='state_name' />
  <input type='submit' value='submit'/>
</form>
-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>